/* import de la fuente de texto */
/* font-family: 'Anton', sans-serif; */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

/* Cuerpo de la pagina */
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #e4e4e7;
  background-image: url(../src/proweb.jpg);
}
/* Contenedor del header */
.header-container {
  box-shadow: -1px 5px 8px -4px rgba(0, 0, 0, 0.77);
}
/* Logo de la pagina */
.logo {
  padding-left: 10px;
  padding-right: 20px;
  padding: 0px 20px 0 10px;
  width: 99px;
  height: 67px;
}
/* Contenedor del logo */
.logo-container {
  display: flex;
  align-items: center;
}
.logo-container a {
  text-decoration: none;
}
/* Titulo principal de la pagina */
.page-title {
  /* color: #ac8a53; */
  color: #e4e4e7f8;
  font-family: "Montserrat", sans-serif;
}
/* Contenedor de la navegacion */
.nav-container {
  font-weight: 700;
  color: white;
  display: flex;
  list-style: none;
}
.nav-container a {
  text-decoration: none;
  color: white;
}
.nav-container li {
  margin-left: 10px;
  margin-right: 5px;
}
/* Contenedor de la tabla */
.table-div {
  display: flex;
  width: 100%;
  margin-top: 5%;
}
/* Estilos de la tabla */
.table-div table {
  margin: auto;
}
.table-div table, th, td {
    border: 1px solid #63690f54;
    border-collapse: collapse;
}
.table-div th, td {
  background-color: #264a6ca6;
  width: 150px;
  padding: 5px;
}
/* Horarios de la tabla */
.horarios {
  font-style: italic;
  color: #ffffff;
}
/* Dias de la tabla */
.dias {
  font-weight: bold;
  color: #ffffff;
  font-size: 17px;
}
/* Cabezera de la tabla */
.table-header {
  font-weight: bold;
  color: #ffffff;
}
/* Estilos del form de contacto */
.form-container {
  background-color: rgba(16, 14, 99, 0.089);
}
.bgc {
  background-color: #91866F;
}
.form-container form{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 25%;
    background-color: rgba(16, 14, 99, 0.089);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 3px 13px 3px rgba(0,0,0,0.75);
}
.form-container label {
    color:  white;
    font-weight: bold;
}
.custom-input {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid rgb(90, 89, 51);
    outline: 0;
    font-size: 1.3rem;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    margin-bottom: 10px;
}
.custom-input::placeholder {
    color: rgb(235, 231, 231);
}
#submit-button {
    width: 100px;
    margin: auto;
    margin-top: 10px;
    color: white;
}
/* Estilos del footer */
.footer {
  position: absolute;
  margin-top: 15px;
  width: 100%;
  height: 40px;
  text-align: center;
  color: #ac8a53;
}
.contact-footer {
  bottom: 0;
}
.footer img {
  height: 15px;
  width: 15px;
}

.carruselFoto {
  height: 450px;
}

.carruselFoto img {
  overflow: hidden;
}

.texto-card {
  overflow: auto;
  height: 100px;
  margin-bottom: 5px;
}

.card-title {
  overflow: auto;
  height: 49px;
}

.carruselMobile {
  display: none;
}

.carruselFull {
  display: block;
}

@media (min-width: 321px) and (max-width: 768px) {
  .carruselFull {
    display: none;
  }
  .carruselMobile {
    display: block;
  }
}