/* import de la fuente de texto */
/* font-family: 'Anton', sans-serif; */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

/* Cuerpo de la pagina */
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #e4e4e7;
  background-image: url(../src/proweb.jpg);
}
/* Contenedor del header */
.header-container {
  box-shadow: -1px 5px 8px -4px rgba(0, 0, 0, 0.77);
}
/* Logo de la pagina */
.logo {
  padding-left: 10px;
  padding-right: 20px;
  padding: 0px 20px 0 10px;
  width: 99px;
  height: 67px;
}
/* Contenedor de la tabla */
.table-div {
  display: flex;
  width: 100%;
  margin-top: 5%;
}
/* Estilos de la tabla */
.table-div table {
  margin: auto;
}
.table-div table, th, td {
    border: 1px solid #63690f54;
    border-collapse: collapse;
}
.table-div th, td {
  background-color: #264a6ca6;
  width: 150px;
  padding: 5px;
}
/* Horarios de la tabla */
.horarios {
  font-style: italic;
  color: #ffffff;
}
/* Dias de la tabla */
.dias {
  font-weight: bold;
  color: #ffffff;
  font-size: 17px;
}
/* Cabezera de la tabla */
.table-header {
  font-weight: bold;
  color: #ffffff;
}
/* Estilos del footer */
.footer {
  position: absolute;
  margin-top: 15px;
  width: 100%;
  height: 40px;
  text-align: center;
  color: #ac8a53;
}
.contact-footer {
  bottom: 0;
}
.footer img {
  height: 15px;
  width: 15px;
}
/* Estilos de la imagen del carrusel */
.carruselFoto {
  height: 450px;
}
.carruselFoto img {
  overflow: hidden;
}
/* Estilos de las card del index */
.texto-card {
  overflow: auto;
  height: 100px;
  margin-bottom: 5px;
}
.card-title {
  overflow: auto;
  height: 49px;
}
/* Estilos de la pagina de aviso de edad */
.container-principal {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.alerta-principal {
  width: 650px;
  height: 350px;
  background-color: rgba(3, 3, 53, 0.384);
  text-align: center;
  border-radius: 5px;
  color: rgb(207, 194, 194);
  
}
.alerta-principal h3 {
  margin-top: 80px;
}
.alerta-principal button {
  width: 150px;
  height: 30px;
  margin-top: 70px;
}